#btn {
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50;
    color: white;
    background-color: gray;
}

body {
    background-color: white;
    color: black;
}

.list {
    font-size: 20px;
}